<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFD Helper</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="/static/javascript/resource_calculator.js"></script>
</head>
<body class="bg-radial-[at_25%_25%] from-[#1A1A1A] to-[#0D0D0D] min-h-screen text-white">
    <main class="items-center flex flex-col text-center">
        <h1 class="text-4xl font-bold mt-20 text-white">Resource calculator</h1>
        <h2 class="text-xl font-semibold mt-4 text-gray-600">Select the resource and input the amount.</h2>
        <select id="conversion_selector" onchange="calculate()" class="mt-5 px-2 py-1 rounded-xl bg-[#2E2E2E] text-white text-center">
            <option value="energy_activator">Energy activator</option>
            <option value="catalyst" selected>Catalyst</option>
        </select>
        <input type="text" oninput="calculate()" id="input_value" placeholder="Amount" class="px-2 py-1 text-center mt-5 border border-white rounded-xl text-white placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-white hover:ring-1 hover:ring-white"/>

        <div class="mt-5 gap-2 font-semibold text-xl">
            <p><span id="name_1">Item 1</span>: <span id="value_1">0</span></p>
            <p><span id="name_2">Item 2</span>: <span id="value_2">0</span></p>
            <p><span id="name_3">Item 3</span>: <span id="value_3">0</span></p>
            <p><span id="name_4">Item 4</span>: <span id="value_4">0</span></p>
        </div>

        <button onclick="history.back()" class="cursor-pointer bg-[#2E2E2E] px-4 py-2 rounded-lg text-white font-medium shadow hover:bg-[#444444] transition text-center hover:scale-105 mt-5">
            Return
        </button>
    </main>
</body>
</html>